table,
th,
td {
    border: 1px solid #96D4D4;
    padding: 3px;
    background-color: white;
}
.table__user{
    width: 100%;
}
td{
    font-size: 13px;
}
.xoa{
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    line-height: 20px !important;
    border-radius: 5px;
    cursor: pointer;
}
.edit{
    background-color: rgb(24, 144, 255);
    color: white;
    width: 20px;
    height: 20px;
    line-height: 20px !important;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}
@media only screen and (max-width: 1023px) {
    h1 {
      font-size: 30px;
    }
   
    .mobile_action{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }