/*Mobile width < 740px*/
@media only screen and (max-width:46.1875rem){
    .form_mobile{
        padding: 50px 80px !important;
    }
    .mb-5{
        font-size: 25px !important;
    }
    .text-danger{
        font-size:9px;
    }
}
/*Tablet width >= 740px and width < 1024px*/

@media only screen and (min-width:46.25rem) and (max-width:63.9375rem){
    .form__Login{
        padding: 0 !important;
        margin: 0 auto;
    }
    .login_background{
        background-position: inherit !important;
    }
}